language: scala
jdk: oraclejdk8
before_script:
  - npm i -g yarn
  - mkdir -p ~/.sbt/0.13/plugins
  - echo 'addSbtPlugin("io.get-coursier" % "sbt-coursier" % "1.0.0-RC5")' > ~/.sbt/0.13/plugins/build.sbt
addons:
  apt:
    packages:
    - nodejs
script:
  - sbt compile
after_success:
  - 'if [[ $TRAVIS_PULL_REQUEST == "false" ]]; then bash ./deploy.sh; fi'
notifications:
  slack:
    rooms:
      - team846:C7msa8tAKGdHScWVPPVL3DnB
    on_success: change
    on_failure: always
branches:
  only:
    - master
